---
- name: Fetch kubeconfig from server
  hosts: servers
  become: yes
  tasks:
    - name: Read kubeconfig
      slurp:
        src: /etc/rancher/k3s/k3s.yaml
      register: kubeconfig

    - name: Write kubeconfig locally
      copy:
        content: "{{ kubeconfig.content | b64decode | replace('127.0.0.1', k3s_server_ip) }}"
        dest: "{{ lookup('env', 'HOME') }}/.kube/rpi-config"
        mode: '0600'
      delegate_to: localhost
      become: no
