---
- name: Check if K3s agent is already installed
  stat:
    path: /usr/local/bin/k3s
  register: k3s_binary

- name: Install K3s agent
  shell: >
    curl -sfL https://get.k3s.io |
    K3S_URL=https://{{ k3s_server_ip }}:6443
    K3S_TOKEN={{ hostvars['k3s-server']['k3s_node_token'] }}
    sh -s - agent
  when: not k3s_binary.stat.exists
